/* GLOBAL */

body {
  position: fixed;
  margin: 0;
  background: #111;
  overflow: hidden;
}

#game {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#camera {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transform-origin: center center;
  transition: transform 0.1s ease-out;
}

.bottom-dark-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: black;
  opacity: 0.3;
  z-index: 10000;
  pointer-events: none;
  transition: opacity 0.5s ease; /* geçiş süresi */
  mask-image: linear-gradient(to top, black, transparent); /* yukarıya doğru fade */
  -webkit-mask-image: linear-gradient(to top, black, transparent);
}

/* FPS */

#fpsCounter {
  position: fixed;
  top: 5px;
  left: 10px;
  color: white;
  font-family: monospace;
  background: rgba(0, 0, 0, 0.6);
  padding: 4px 8px;
  border-radius: 4px;
  z-index: 9999;
  font-size: 14px;
}

/* WORLD ELEMENTS */

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0)), url("images/background.png") repeat-x;
  background-size: cover;
  z-index: -1;
}

#void-worm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('images/void_worm.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s ease;
  pointer-events: none;
}

#atmosphere {
  position: absolute;
  top: 0;
  left: 0;
  width: 200vw;
  height: 200vh;
  background: radial-gradient(circle, rgba(255,255,255,0.05), rgba(0,0,0,0.9));
  pointer-events: none;
  z-index: 0;
  animation: gas-flow 40s ease-in-out infinite alternate;
  transform: translate(-25vw, -25vh);
}

@keyframes gas-flow {
  0%   { transform: translate(-25vw, -25vh) scale(1); }
  100% { transform: translate(-30vw, -20vh) scale(1.1); }
}

#planet {
  position: absolute;
  bottom: 14%;
  right: 7%;
  width: 300px;
  max-width: 40vw;
  opacity: 0.2;
  z-index: 0;
  pointer-events: none;
  user-select: none;
  animation: floatPlanet 20s ease-in-out infinite alternate;
  filter: drop-shadow(0 0 60px rgba(100, 200, 255, 0.4));
}

@keyframes floatPlanet {
  0%   { transform: translateY(0px) scale(1); }
  100% { transform: translateY(-20px) scale(1.02); }
}

#rocket {
  position: absolute;
  bottom: 0;
  left: -19%;
  width: 700px;
  height: auto;
  opacity: 0.6;
  z-index: 2;
  pointer-events: none;
  user-select: none;
  animation: rocketIdle 5s ease-in-out infinite;
}

@keyframes rocketIdle {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-30px); }
  100% { transform: translateY(0); }
}

/* CHARACTERS */

#dummy {
  position: absolute;
  bottom: 55px;
  left: 15%;
  transform: translateX(-50%);
  width: 682px;
  height: 350px;
  background-image: url("images/dummy/idle.gif");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 500;
  pointer-events: none;
}

#speakers {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 682px;
  height: 350px;
  background-image: url("images/speakers.gif");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 500;
  pointer-events: none;
}

#character {
  position: absolute;
  bottom: 15px;
  left: 90%;
  transform: translateX(-50%);
  width: 682px;
  height: 350px;
  background-image: url("images/character/idle.gif");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 500;
  pointer-events: none;
}

/* UI */

#start-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
}

#score {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: monospace;
  font-size: 18px;
  z-index: 1000;
}

#music-bar-container {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 20vw;
  height: 8px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1px;
  z-index: 1000;
}

#music-bar {
  height: 100%;
  width: 0%;
  background: #fff;
  border-radius: 1px;
  transition: width 0.1s linear;
}

/* ARROW ZONE */

#arrow-zone {
  position: absolute;
  top: 20px;
  right: 90px;
  width: 260px;
  height: 100vh;
  display: flex;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.target {
  position: absolute;
  top: 60px;
  width: 65px;
  height: 65px;
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* NOTES */

.note {
  position: absolute;
  width: 65px;
  height: 65px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 4px;
  animation: rise 1s linear forwards;
  z-index: 1001;
}

.note.long {
  background-image: url('images/long_note.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1000;
}

.particle {
  position: absolute;
  width: 8px;
  height: 8px;
  background: #404047;
  border-radius: 10%;
  pointer-events: none;
  z-index: 999;
}

/* LANE NOTE IMAGES */

.right { background-image: url('images/right.png'); left: 0px; }
.down  { background-image: url('images/up.png');  left: 160px; }
.up    { background-image: url('images/down.png');    left: 80px; }
.left  { background-image: url('images/left.png');  left: 240px; }

/* KEYFRAMES */

@keyframes rise {
  0%   { top: 100vh; }
  100% { top: 5px; }
}
